*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-image: url("https://images.unsplash.com/photo-1508197149814-0cc02e8b7f74?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1995&q=80");
    background-attachment: fixed;
    background-size: cover;
    font-family: 'Times New Roman', Times, serif;
}
form{
 
    box-shadow: -1px 1px 60px 10px black inset;
}
